<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--JS VUE Script-->
	<script src="https://unpkg.com/vue@3"></script>
	<!-- Axios -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
	<!-- Bootstrap - Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!--My CSS-->
	<link rel="stylesheet" href="style.css">
	<title>Indtast registreringer</title>
</head>

<body>
	<div id="BorgerRegi" class="container">
		<h3 class="display-4 text-center">Registreringsside</h3>
		<hr>
			<p class=""><b>Velkommen  {{ outputTlfData.tlf }}</b>
				<br>
				Her skal du ind og udregistrerer dig dagligt,
				tryk på en knap nedenfor:
			</p>
		<p>En besked til borger om date og tid til borgeren om registreringen</p>
					<b>ID</b>: {{ outputTlfData.id }}
					<br>
					<b>Tlf</b>: {{ outputTlfData.tlf }}
					<br>
					<b>Navn</b>: {{ outputTlfData.navn }}
					<br>
					<br>
				<!-- </div> -->
		<div class="row">

		<div v-for="regi in registrArray" class="col-6-sm p-1">
		<p><i class=""><b>Ind & Ud registrering</b></i></p>
			<button type="button"
				v-on:click="opretRegistr()"
				class="btn btn-outline-primary btn-lg">
				Ind
		    </button>
			{{ regi.ind }}
			<br>
				<button type="button"
					v-on:click="opretRegistr()"
					class="btn btn-outline-info btn-lg">
					Ud
			    </button>
				{{ regi.ud }}
				<br>
				    <div v-for="pause in regi.borgerPauser">
					<p><i><b>Pause registrering</b></i></p>
						<button type="button"
						v-on:click="opretRegistr()"
						class="btn btn-outline-primary btn-lg">Pause start</button>
						{{	regi.borgerPauser.startPause  }}
						<br>
						<button type="button"
						v-on:click="opretRegistr()"
						class="btn btn-outline-success btn-lg">Pause slut</button>
						{{	regi.borgerPauser.slutPause  }}
		             </div>
					</div>

		<div class="col-6-sm">
				<div class="opacity-25">
				     <img src="img/Registration.jpeg">
				</div>
		</div>
	</div>
	<!-- Javascript-reference -->
	<script src="BorgerRegi.js"></script>
</body>

</html>