<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--JS VUE Script-->
	<script src="https://unpkg.com/vue@3"></script>
	<!-- Axios -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
	<!-- Bootstrap - Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- ny cdn link moment.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<!--moment library-->
	<script src="https://momentjs.com/downloads/moment.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> -->
	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--My CSS-->
	<link rel="stylesheet" href="style.css">
	<title>Indtast registreringer</title>
</head>

<body>
	<div id="BorgerRegi" class="container">
		<h2 class="display-4">Registreringsside</h2>
		<hr>
			<p><b>Velkommen tlf. {{ outputTlfData.tlf }}</b>
				<br>
				I dit praktikforløb, skal du bruge dette system til at registrere
				arbejdstid og pauser.
				<p>
					Dine data, vil udelukkende blive brugt til, at evaluere
					din praktik, og slettes efter 13 uger.
				</p>
			</p>
		<a href="index.html"><-Tilbage</a>
		<hr>

		<!-- <b>ID</b>: {{ outputTlfData.id }} -->
					<b>Tlf</b>: {{ outputTlfData.tlf }}
					<br>
					<b>Navn</b>:
        <!-- <input v-model="outputTlfData.navn" type="text" placeholder="Indtast navn..." class="small" aria-describedby="navn">
        <button v-on:click="navnInput(id, navn)" type="button" class="small">Gem</button>
		<br>-->
        {{ outputTlfData.navn }}

					<br>
				<!-- </div> -->
				<hr>

		<div class="row">
			<div class="col-6 border border-white border-left-0">
				<blockquote class="blockquote">
		<p class="mb-0">Dine registreringer</p>
	</blockquote>
	<button v-on:click="sendRegi(outputTlfData.id, 'ind')"
	type="button" class="btn btn-success baggrund">Check ind</button>
	<!-- {{	this.borgerRegistreringer.ind  }} -->
	<br>
	<br>
	<button v-on:click="sendRegi(outputTlfData.id, 'ud')"
	type="button" class="btn btn-primary baggrund">Check ud</button>
	<!-- {{	this.borgerRegistreringer.ud  }} -->
		<br>
		<br>
	<div class="row">
		<div v-for="regi in registrArray" class="col-sm-4">
			<div class="card">
				 <!-- Conditionally render check ind if check ud is not present -->
				 <b>Check-ind</b>
				 <div class="border border-success">
					<!-- <b>Check-ind:</b> -->
					{{ regi.ind }}
			</div>
				<b>Check-ud</b>
				<div class="border border-primary">
					<!-- <b>Check-ud:</b> -->
					{{ regi.ud }}
				</div>
			</div>
			<br>
		</div>
	</div>
</div>
<div class="col-6 border border-white border-right-0">
	<blockquote class="blockquote">
		<p class="mb-0">Dine pauser</p>
	</blockquote>
	<button v-on:click="sendPause(outputTlfData.id, 'pauseStart')"
	type="button" class="btn btn-info baggrundPause">Pause start</button>
	<!-- {{ borgerPauser.pauseStart }} -->
	<br>
	<br>
	<button v-on:click="sendPause(outputTlfData.id, 'pauseSlut')"
	type="button" class="btn btn-warning baggrundPause">Pause slut</button>
	<!-- {{ borgerPauser.pauseSlut }} -->
		<br>
		<br>
		<div class="row">
			<div v-for="pause in pauseArray" class="col-sm-4">
				<!-- Conditionally render Pause information -->
				<!-- Conditionally render pauseStart if pauseSlut is not present -->
				<div class="card">
					<b>Start</b>
					<div class="border border-info">
						<!-- ID: {{  pause.pauseID }} -->
						{{  pause.pauseStart }}
						<div class="d-flex flex-row-reverse">
							<div class="p-2">
			<!-- <button v-on:click="sletPause(id, pause.pauseID)"
			class="btn"><i class="fa fa-trash"></i></button> -->
							</div>
							<div class="p-2"></div>
							<div class="p-2"></div>
						  </div>
					</div>
					<b>Slut</b>
					<div class="border border-warning">
						<!-- ID: {{ pause.pauseID }} -->
						{{ pause.pauseSlut }}
						<div class="d-flex flex-row-reverse">
							<div class="p-2">
							</div>
							<div class="p-2"></div>
							<div class="p-2"></div>
						  </div>

					</div>
				</div>
				<br>
			</div>
		</div>
		</div>
	</div>
	<br>
	<br>
	<br>
		<div class="col-6-sm">
		</div>
	</div>
	<!-- Javascript-reference -->
	<script src="BorgerRegi.js"></script>
</body>

</html>