<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--JS VUE Script-->
	<script src="https://unpkg.com/vue@3"></script>
	<!-- Axios -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
	<!-- Bootstrap - Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- ny cdn link moment.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<!--moment library-->
	<script src="https://momentjs.com/downloads/moment.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> -->
	<!--My CSS-->
	<link rel="stylesheet" href="style.css">
	<title>Indtast registreringer</title>
</head>

<body>
	<div id="BorgerRegi" class="container">
		<h2 class="display-4 text-white">Registreringsside</h2>
		<hr>
			<p class=""><b>Velkommen borger med tlf. {{ outputTlfData.tlf }}</b>
				<br>
				Her skal du ind og udregistrerer dig dagligt,
				tryk på den relevante knap nedenfor:
			</p>
		<i>En besked til borger om date og tid sendes til borgeren </i>
		<hr>

		<b>ID</b>: {{ outputTlfData.id }}
					<br>
					<b>Tlf</b>: {{ outputTlfData.tlf }}
					<br>
					<b>Navn</b>: {{ outputTlfData.navn }}
					<br>
				<!-- </div> -->
				<hr>

		<div class="row">
			<div class="col-6 border border-white border-left-0">
				<blockquote class="blockquote">
		<p class="mb-0">Dine registreringer</p>
	</blockquote>
	<button v-on:click="sendRegi(outputTlfData.id, 'ind')"
	type="button" class="btn btn-success baggrund">Ind registrering</button>
	<!-- {{	this.borgerRegistreringer.ind  }} -->
	<br>
	<br>
	<button v-on:click="sendRegi(outputTlfData.id, 'ud')"
	type="button" class="btn btn-primary baggrund">Ud registrering</button>
	<!-- {{	this.borgerRegistreringer.ud  }} -->
		<br>
		<br>
	<div class="row">
		<div v-for="regi in registrArray" class="col-sm-4">
			<div class="card">
				 <!-- Conditionally render Indregistreringer if Udregistreringer is not present -->
				 <div v-if="!regi.ud" class="border border-success">
					<b>Ind-regi:</b>
					{{ regi.ind }}
				</div>
				<div v-else class="border border-primary">
					<b>Ud-regi:</b>
					{{ regi.ud }}
				</div>
			</div>
			<br>
		</div>
	</div>
</div>
<div class="col-6 border border-white border-right-0">
	<blockquote class="blockquote">
		<p class="mb-0">Dine pauser</p>
	</blockquote>
	<button v-on:click="sendPause(outputTlfData.id, 'pauseStart')"
	type="button" class="btn btn-info baggrund">Pause start</button>
	<!-- {{ borgerPauser.pauseStart }} -->
	<br>
	<br>
	<button v-on:click="sendPause(outputTlfData.id, 'pauseSlut')"
	type="button" class="btn btn-secondary baggrund">Pause slut</button>
	<!-- {{ borgerPauser.pauseSlut }} -->
		<br>
		<br>
		<div class="row">
			<div v-for="pause in pauseArray" class="col-sm-4">
				<!-- Conditionally render Pause information -->
				<!-- Conditionally render pauseStart if pauseSlut is not present -->
				<div class="card">
					<div v-if="!pause.pauseSlut" class="border border-secondary">
						<b>Start-pause:</b> {{  pause.pauseStart }}
					</div>
					<div v-else class="border border-info">
						<b>Slut-pause:</b> {{ pause.pauseSlut }}
					</div>
				</div>
				<br>
			</div>
		</div>
		</div>
	</div>
	<br>
	<br>
	<br>
		<div class="col-6-sm">
				<!-- <div class="watermarked">
				     <img class="watermarked" src="img/online.jpg">
				</div> -->
		</div>
		</div>
	</div>
	<!-- Javascript-reference -->
	<script src="BorgerRegi.js"></script>
</body>

</html>