body {
	background-image: url('img/D.png');
  }
  h3 {
	text-shadow: 2px 2px #015c27;
  }
  h2 {
	text-shadow: 2px 2px #097536;
  }
	.img-fluid {
		min-width: 100%;
		height: auto;
	}

	img {
		opacity: 0.6;
	  }
/* ////LOGIN///// */

button.baggrund{
	background-color: rgb(212, 238, 212);
	color: black;

}

/* div.col.baggrund{
	border: 1px;
	background-color: rgb(212, 238, 212);
} */
.container {
	position: relative;
	margin: 0 auto; /* Center it */
  }

  .container .content {
	position: absolute; /* Position the background text */
	bottom: 0; /* At the bottom. Use top:0 to append it to the top */
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: #f1f1f1; /* Grey text */
	width: 100%; /* Full width */
	padding: 20px; /* Some padding */
  }


  .watermarked {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 42px;
	left: 0px;
	background-size: 100px 100px;
	background-position: 30px 30px;
	background-repeat: no-repeat;
	opacity: 0.2;
  }